@font-face{
	font-family: Font;
	src:url('./fonts/font.ttf');
}

*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url('./img/background.jpg');
	background-repeat: no-repeat;
}
h1{
	font-family: font;
	font-size: 78px;
	text-align: center;
	margin-left: 1in;
	position: relative;
}

.backIcon{
	margin: 5px;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

/*=============================== MENU DE OPÇÕES==========================================*/
#opcoes{
	/*border: 2px solid red;*/	
	width: 4.5in;
	min-height: 3in;
	padding: 0;
	position: absolute;
	margin-left: 40%;
	margin-top: 10%;
}


#opcoes button{
	position: relative;
	padding: 0;
	margin: 0;
	min-height: 3in;
	min-width: 2in;
	max-width: 2in;

}

/*======================================= CADASTRO DE ALUNOS=================================*/


#insercao{
	/*border: 2px solid red;*/
	width: 5in;
	height: 1in;
	position: absolute;
	margin-top: 20%;
	margin-left: 35%;
	/*display: inline;*/
}

p{
	font-family: Font;
	font-size: 50px	;
}

#insercao input{
	width: 3.9in;
	height: 0.4in;
	font-size: 30px; 
}

#notas{
	position: absolute;
	margin-top: 20%;
	margin-left: 35%;
	/*display: none;*/

}

/*============================== PAGINA CONSULTA A PARTIR DAQUI==============================*/
#consulta{
	/*border: 2px solid red;*/
	width: 5in;
	height: 1in;
	position: absolute;
	margin-top: 20%;
	margin-left: 35%;
}

#consulta input{
	width: 3.9in;
	height: 0.4in;
	font-size: 30px;
}


table, th, td{
	border: 3px solid black;
	border-collapse: collapse;
	padding: 8px;
	z-index: 1;	

}

table{
	position: relative;
	text-align: center;
	margin-left: 25%; 
	margin-top: 18%;
	width: 50%;
	background-color: white;
}

#tabelaNotas button{
	width: 1in;
	height: 0.8in;
	position: absolute;
	float: right;
	margin-left: 78%;
}

#consulta select, option{
	width: 70px;
	font-size: 23px;
	padding: 5px;
	padding-right: 10px;
	border-radius: 12px;
}

